# Виртуальное окружение
venv/
.venv/
env/

# Переменные окружения
.env
.env.local
.env.development
.env.production

# Логи
logs/
*.log

# PyCharm
.idea/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
